/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}


#inboxtable-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
#inboxtable-b th
{
	padding: 15px 10px 10px 10px;
	font-weight: normal;
	font-size: 14px;
	color: #2B2B2B;
}
#inboxtable-b tbody
{
	background: #F1F1F1;
}
#inboxtable-b td img
{
    width: 25px;
    height: 25px;
}
#inboxtable-b td
{
	padding: 10px;
	color: #2B2B2B;
	border-top: 1px dashed #fff;
}
#inboxtable-b tbody tr:hover td
{
	color: #000;
	background: #F8F8F8;
}